<footer class="footer">
    <div class="footer-container container grid">
        <div>
            <h1 class="footer-title">Nicolas <span>Rodriguez</span></h1>
            <h2 class="footer-education">Développeur Web</h2>
        </div>
        <div class="footer-social">
            <a href="https://github.com/buzzer93" target="_blank" class="footer-social-link">
                <i class="ri-github-fill"></i>
            </a>
            <a href="https://www.linkedin.com/in/nicolas-rodriguez-54771b285" target="_blank" class="footer-social-link">
                <i class="ri-linkedin-box-fill"></i>
            </a>
        </div>
        <div class="footer-social">
            <a href="{{ asset('CV-Rodriguez-nicolas.pdf') }}" download="CV-Rodriguez-nicolas" class="button">
                <i class="ri-file-download-fill"></i> Mon CV
            </a>
        </div>
        <span class="footer-cody"></span>
    </div>
</footer>
