<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav-logo"><i class="ri-code-s-slash-line"></i> Nicolas <span>Rodriguez</span></a>
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="#home" class="nav-link">Accueil</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">À propos</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link">Projets</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
            <div class="nav-close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>
