<header class="header" id="header">
    <nav class="nav container" data-controller="nav">
        <a href="/" class="nav-logo"><i class="ri-code-s-slash-line"></i> Nicolas <span>Rodriguez</span></a>
        <div class="nav-menu" id="nav-menu" data-nav-target="menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="#home" class="nav-link" data-turbo="false" data-action="click->nav#close">Accueil</a></li>
                <li class="nav-item"><a href="#about" class="nav-link" data-turbo="false" data-action="click->nav#close">À propos</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link" data-turbo="false" data-action="click->nav#close">Projets</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link" data-turbo="false" data-action="click->nav#close">Contact</a></li>
            </ul>
            <div class="nav-close" id="nav-close" data-action="click->nav#close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="nav-toggle" id="nav-toggle" data-action="click->nav#toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>
