<section class="skills section">
    <div class="skills-container container grid">
        <div class="skills-data">
            <h2 class="section-title">Mes <span>Compétences</span></h2>
            <a href="#projects" class="button">Voir les Projets</a>
        </div>
        <div class="skills-content">
            <ul class="skills-group">
                <li class="skills-item"><i class="ri-html5-fill"></i> HTML</li>
                <li class="skills-item"><i class="ri-css3-fill"></i> CSS</li>
                <li class="skills-item"><i class="ri-javascript-fill"></i> JavaScript</li>
                <li class="skills-item"><i class="ri-bootstrap-fill"></i> Bootstrap</li>
            </ul>
            <ul class="skills-group">
                <li class="skills-item"><i class="ri-server-fill"></i> PHP</li>
                <li class="skills-item"><i class="devicon-symfony-original"></i> Symfony</li>
                <li class="skills-item"><i class="ri-database-2-fill"></i> MySQL</li>
                <li class="skills-item"><i class="ri-github-fill"></i> GitHub</li>
            </ul>
        </div>
    </div>
</section>
